.navbar_link {
  text-decoration: none;
  color: #f8f8f8;
  font-size: 1.2rem;
  margin-right: 15px;
}

.navbar_link:hover {
  color: #aca7a9;

  text-decoration: none;
}

.active {
  color: #c7cace;
  text-decoration: none;
}
